
.urer_item {
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    grid-gap: 20px;
    padding: 20px 0;
    border-bottom: solid 1px #ccc;
}

.user_photo img {
    display: block;
    width: 100%;
}

.user_follow_button {
    margin-top: 20px;
}